*,
*::before,
*::after {
    box-sizing: border-box;
    /* border: 2px solid red; */
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

p {
    line-height: 1.5;
}

.full-container {
    display: grid;
    grid-template-areas: 'A B' 'A C';
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

/* SideBar */

aside {
    grid-area: A;
    background: #1992D4;
    color: #fff;
    font-size: 20px;
}

.aside-container {
    margin-left: 2.5rem;
}

.icon {
    width: 30px;
    height: 30px;
    fill: #fff;
}

aside h2 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
}


h2 > .icon {
    width: 50px;
    height: 50px;
}

ul {
    list-style: none;
    font-weight: 500;
    margin-left: 1.25rem;
    margin-bottom: 5rem;
    padding: 0;
}

aside li {
    font-size: 2.2rem;
    display: flex;
    align-items: flex-end;
    gap: 23px;
    margin-bottom: 2rem;
}

/* Head Section */

.header-container {
    grid-area: B;
    margin: 0 3rem 0 2rem;
}

.header {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.search {
    display: flex;
    gap: 2.5rem;
}

.icon-alternate {
    fill: #000;
}

input {
    border: 0;
    background: #E2E8F0;
    width: 700px;
    height: 35px;
    border-radius: 15px;
}

.bell {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.img-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.bell span {
    font-size: 2.3rem;
    font-weight: 500;
}

.header-btns {
    display: flex;
    justify-content: space-between;
}

.header-btns div:first-child,
.tre-media {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header-btns img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.intro p {
    margin: 0;
    font-weight: 500;
}

.intro p:first-child {
    font-size: 1.8rem;
}

.intro p:last-child {
    font-size: 2.9rem;
    margin-top: 1rem;
}

.btn {
    align-self: center;
}

.btn button {
    padding: 1.3rem 4.5rem;
    margin-top: 1rem;
    border: 0;
    border-radius: 30px;
    background: #1992D4;
    color: #fff;
    font-size: 2rem;
    margin-right: 4rem;
}

.btn button:last-child {
    margin-right: 0;
}

/* Cards */

.main {
    grid-area: C;
    padding-top: 2rem;
    padding-bottom: 6rem;
    background: #E2E8F0;
    display: grid;
    grid-template-areas: 'A B' 'A C';
    grid-template-columns: 3fr / 1fr;
}

.main h2 {
    font-size: 2rem;
}

.main h3 {
    font-size: 2.2rem;
    margin-bottom: 0;
}

.main p {
    color: #777777;
}

.main .radius {
    background: #fff;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
}

.projects {
    grid-area: A;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}

.cards {
    display: grid;
    grid-template-areas: 'A B' 'A D';
    gap: 2rem;
    grid-template-columns: 1fr 50fr;
    width: 50rem;
    overflow: hidden;
}

.strip {
    background: #DEAD3D;
    grid-area: A;
    width: 10px;
}

.content {
    grid-area: B;
}

.content h3 {
    margin-top: 4rem;
}

.content p {
    font-size: 2rem;
    margin: 0;
    margin-top: 0.5rem;
}

.card-icon {
    display: flex;
    justify-content: right;
    gap: 3.4rem;
    grid-area: D;
    margin: 3rem;
}

.card-icon>svg {
    width: 30px;
    height: 30px;
}

.ann-container {
    background: #fff;
    padding: 3rem 4.5rem;
    width: 40rem;
}

.announcements,
.trending {
    margin-left: 1rems;
}

.announcements {
    margin-bottom: 6rem;
}

.announcements h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.announcements p {
    margin-top: 0;
    font-size: 1.5rem;
}

.announcements hr {
    color: #777777;
    margin: 2.5rem 0;
}

.tre-media {
    margin-bottom: 2rem;
}

.tre-content {
    font-size: 1.8rem;
}

.tre-content p {
    margin: 0;
    line-height: 1.3;
}

.tre-content p:first-child {
    color: #000;
}